*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
     font-size: 45px;
     font-weight: bolder;
}
.color{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer; 

}
.section-heading{
    max-width: 826px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
 /* main style */
header{
    background-color: #fdf4ee;
    padding-top: 51px;
    background: url(../images/developer.png), url(../images/header_bg.png), #fdf4ee;
    background-repeat:no-repeat ;
    padding-top: 50px;
    background-position: top left, bottom right;
}
nav{
    width:70%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .box{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .box a {
    font: 20px;
    color:#474747;
    text-decoration: none;
}
/* banner design */
#banner{
    margin: 47px 48px 0 230px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#banner .banner-content{
max-width: 585px;
}
#banner .banner-content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;
}
#banner .banner-content h1{
font-size: 85px;
font-weight: 600;
color: #0c0c0c;
margin-bottom: 20px;
}
#banner .banner-content p{
font-size: 18px;
color: #757575;
line-height: 30px;
margin-bottom:30px ;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
    margin-top:none ;

}
.banner-content{
    margin-top:2opx ;
}
#about {
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.about-info .info-card p{
    font-size: 14px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 15px;
}
#skills{
    border: 1px solid black;
    padding-top: 130px;

}
#skill .skill-container .section-heading h2{
    font-size: 30px;
    font-weight: bold;
}
#skill .skill-container .section-heading p{
    line-height: 30px;
    padding-left: 386px;
    padding-right: 387px;
    padding-top: 30px;
}
.skill-box .skill-card{
    max-width: 267px;
    background-color: #FFFFFF;
    border-radius: 5%;
    box-shadow: 0px 6px 50px 0 rgb(237, 236, 236);
    padding: 30px;

}
.skill-box{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;

}
 .skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
 .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}




